.div-card-media {
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */

  box-sizing: border-box;
  padding-top: 10px;
}

.div-media {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}