/*Div principal do componente*/
.banner-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-logo{
    width: 270px;
}

.main-logo{
    width: 100%;
}

.div-title{
    width: 100%;
    text-align: center;
}

.div-title h1 {
    font-family: sans-serif;
    font-size: xx-large;
    color: var(--blue);
}

.logotitle{
 width: 300px;   
}