<mat-card class="example-card">
    <mat-card-header class="headerCard">
        <div mat-card-avatar class="example-header-image">
            <span><strong>8</strong></span>
        </div>
        <div class="headerTitle">
            <mat-card-title>Sua Média do <strong>SEMESTRE</strong></mat-card-title>
            <span>Aprovado</span>
        </div>
    </mat-card-header>
    <mat-card-content class="bodyCard">
        <p>
        A média do semestre é calculada considerando pesos para cada avaliação 
        (veja na tabela abaixo), é feito o somatório da notas multiplicando os
        pesos, e dividindo o resultado total por 100.
        </p>
        <table class="table">
            <thead>
            <tr style="text-align: center;">
                <th scope="col">Avaliação</th>
                <th scope="col">Nota</th>
                <th scope="col">%</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                <td>AV1</td>
                <td>7</td>
                <td>25%</td>
                </tr>
                <tr class="text-center">
                <td>AV2</td>
                <td>9</td>
                <td>25%</td>
                </tr>
                <tr class="text-center">
                <td>AV3</td>
                <td>7</td>
                <td>30%</td>
                </tr>
                <tr class="text-center">
                <td>EDAG</td>
                <td>3</td>
                <td>20%</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Compartilhe</button>
    </mat-card-actions>
  </mat-card>
  