<mat-card class="mainCard">
    <mat-card-header class="headerCard">
        <div mat-card-avatar class="numberCardPrevisao">
            <img src="../../../../assets/passei-direto.png" class="logo-previsao"/>
        </div>
        <div>
            <mat-card-title>Passe <span style="color: var(--blue);">direto</span> com estas notas</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="bodyCard">
        <table class="table">
            <tbody>
                <tr style="text-align: left;">
                    <td>1ª Avaliação</td>
                    <td class="td_tabelanotas">
                        <div class="tabelanotas">9.9</div>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>2ª Avaliação</td>
                    <td class="td_tabelanotas">
                        <div class="tabelanotas">9.9</div>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>3ª Avaliação</td>
                    <td class="td_tabelanotas">
                        <div class="tabelanotas">9.9</div>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>4ª Avaliação: EDAG</td>
                    <td class="td_tabelanotas">
                        <div class="tabelanotas">9.9</div>
                    </td>
                </tr>
            </tbody>
        </table>           
    </mat-card-content>
</mat-card> 